body{
    background: white;
}
.wrapper{
    width: 200px;
    height: 200px;
    padding: 50px;
    background-color: yellow;
    justify-content: center;
}

.icon{
    display: flex;
}

#counter{
    text-align: center;
}

.fa-solid{
    /* margin-top: 100px; */
    margin-left: 50px;
    font-size: 30px;
    color: gray;
    transition: .5s;
}

.fa-solid:hover{
    color: green;
    transform: scale(1.5);
}